.card{
    width: 400px;
    height: 50vh;
    padding: 10px;
    max-width: 80vw;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
 
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,.3);

}
.card>h3{
    position: absolute;
    color: white;
    bottom: 10px;
}
.cards__container{
    display: flex;
    justify-content: center;
    margin-top:1vh;
}

.swipe{
    position: absolute;
}