.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.header img{
    height: 60px;
    width: 60px;
    object-fit: contain;
}
.header>svg{
    font-size: 25px;
}
.header>a>svg{
    font-size: 25px;
}